@model List<string>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
    <input type="text"  name="name"/>
    <button type="submit">Kaydet</button>
</form>
@foreach (var item in Model)
{
    <h1>@item 
    <a asp-controller="ListType" asp-action="Delete" asp-route-name="@item">Sil </a></h1>

}